* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}
a {
  text-decoration: none;
}
/* =============Setup================ */
:root {
  --header-bg: #10375c;
}
.container {
  width: 1170px;
  margin: 0 auto;
  max-width: calc(100% - 48px);
}

.btn__button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.8rem;
  width: 205px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #2e80ce;
}
.btn__button:hover {
  background-color: #0a3d6d;
}
.control {
  display: flex;
  gap: 18px;
  align-items: center;
}
.control__btn {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #575f66;
  background: white;
  cursor: pointer;
}
.control__btn:hover {
  background: #2e80ce;
  background-color: #2e80ce;
  color: white;
}
button {
  border: none;
  background: #00ffff00;
}
/* =============Header=============== */
.header {
  background: var(--header-bg);
  height: 800px;
  padding-top: 30px;
  margin-bottom: 170px;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 86px;
  height: 31px;
}
.navbar .navbar__list {
  display: flex;
  margin-left: 280px;
  /* margin-right: 222px; */
}
li a {
  color: white;
  text-decoration: none;
}
.navbar__link {
  color: #c9d2da;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.75; /* 175% */
  padding: 8px 21px;
}
/* -----bution--------*/
.header-top .action a {
  color: white;
  text-decoration: none;
}
.navbar__link--active {
  color: #fff;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

.header-top .action {
  display: flex;
  justify-content: center;
  align-items: center;
}
.action .btn-bt {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin-left: 28px;
  padding: 15px 32px;
  border-radius: 22px;
  background: #2e80ce;
  text-decoration: none;
}
/*============== hero content ==========*/
.hero {
  margin-top: 76px;
  display: flex;
  justify-content: space-between;
}
.hero__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* left hero */

.hero__title {
  color: #fff;
  font-family: Sora;
  font-size: 7rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.14;
  letter-spacing: -1.4px;
  width: 517px;
}

.hero__desc {
  margin-top: 22px;
  color: #c9d2da;
  font-family: Sora;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px; /* 166.667% */
  width: 468px;
}
.hero__action {
  cursor: pointer;
  margin-top: 38px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.hero__btn--left {
  color: #fff;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 205px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #2e80ce;
}
.hero__btn--left:hover {
  background: #195894;
}
.hero__phone--right {
  margin-left: 38px;
  color: #fff;
  text-align: center;
  font-family: Sora;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.66; /* 166.667% */
}

/* Hero Right */
.hero__img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 133px;
}
.hero__right .img-1 {
  z-index: 1;
  width: 330px;
  height: 540px;
  flex-shrink: 0;
  border-radius: 6px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.hero__right .img-2 {
  margin-left: -12px;
  width: 210px;
  height: 410px;
  flex-shrink: 0;
  border-radius: 0px 6px 6px 0px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.imghome {
  object-fit: cover;
}
/* ===========Main========= */
/* top */
.Services__title {
  text-align: center;
  margin-bottom: 70px;
}

.Services__title--h2 {
  color: #10375c;
  text-align: center;
  font-size: 5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 120% */
  letter-spacing: -1px;
}

.Services__title--p {
  margin: 0 auto;
  margin-top: 18px;
  width: 468px;
  color: #575f66;
  font-family: Sora;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px; /* 166.667% */
}
/* bottom - left */
.Services__row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 152px;
}

.img-services {
  object-fit: cover;
  width: 570px;
  height: 570px;
  flex-shrink: 0;
  border-radius: 12px;
  background: url(<path-to-image>) lightgray 0px -1.3px / 100% 149.93% no-repeat;
}

/* icon */
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 41px auto;
}

.box__right--title {
  color: #10375c;
  font-family: Sora;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.box__right--content {
  margin-top: 8px;
  color: #575f66;
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px; /* 175% */
}

/* ===== Main work========== */
.main__work {
  margin-top: 270px;
}
.work__top--title {
  color: #10375c;
  font-family: Sora;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 120% */
  letter-spacing: -1px;
}

.work__top--content {
  margin-top: 18px;
  width: 468px;
  color: #575f66;
  font-family: Sora;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px; /* 166.667% */
}

.work__bottom--box {
  margin-bottom: 116px;
  margin-top: 86px;
  display: flex;
  justify-content: space-between;
}
.work__bottom--boder:hover {
  border: 15px solid #2e80ce;
  border-radius: 4px;
}
.work__box {
  margin: 50px;
}

.work__box--content .title {
  margin-top: 18px;
  color: #10375c;
  font-family: Sora;
  font-size: 26px;
  /* font-style: normal; */
  /* font-weight: 600; */
  line-height: 36px; /* 138.462% */
}

.work__box--content .content {
  margin-top: 28px;
  width: 254px;
  color: #575f66;
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  /* font-weight: 300; */
  line-height: 28px; /* 175% */
}

.work__box--content .view-info {
  margin-top: 18px;
  color: #2e80ce;
  font-family: Sora;
  font-size: 16px;
  line-height: 28px; /* 175% */
}
/* =========About========== */
.about__box {
  margin-bottom: 291px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about__box--left .img1 {
  object-fit: cover;
  position: relative;
  margin-left: 256px;
  margin-bottom: -477px;
  width: 332px;
  height: 370px;
  flex-shrink: 0;
  border-radius: 6px;
  /* background: url(<path-to-image>) lightgray 50% / cover no-repeat; */
  max-width: 100%;
}

.about__box--left .img2 {
  object-fit: cover;
  width: 512px;
  height: 370px;
  border-radius: 6px;
  background: url(<path-to-image>) lightgray -1.5px 0px / 108.398% 100% no-repeat;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.07);
}

.about__box--right {
  margin-left: 130px;
}
.mainbox__right--title {
  width: 470px;
  color: #10375c;
  font-family: Sora;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 120% */
  letter-spacing: -1px;
}

.mainbox__right--content {
  margin-top: 18px;
  margin-bottom: 38px;
  width: 468px;
  color: #575f66;
  font-family: Sora;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px; /* 166.667% */
}

/* ============Team========= */
.team__box--title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team__box--title .box__title {
  margin-bottom: 38px;
  color: #10375c;
  text-align: center;
  font-family: Sora;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 120% */
  letter-spacing: -1px;
}
/* ========team doctor========= */
.team__box--doctor {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin-top: 98px;
}

.doctor__row--img {
  width: 262px;
  height: 290px;
  border-radius: 6px;
  transition: 0.5s;
}

.doctor__row--img:hover {
  transform: scale(1.1);
}

.box__doctor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box__doctor--title {
  margin-top: 12px;
  color: #10375c;
  text-align: center;
  font-family: Sora;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

.box__doctor--content {
  color: #575f66;
  text-align: center;
  font-family: Sora;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px; /* 185.714% */
}
/* icon */
.team__control {
  margin-top: 38px;
  justify-content: center;
}

.control-icon--next {
  rotate: 180deg;
}
/* ==============CTA============== */
.main__cta {
  margin-top: 265px;
  height: 427px;
  border-radius: 4px;
  background: #2e80ce;
}

.main__cta--box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta__left--phone {
  margin-left: 72px;
  margin-top: -95px;
  width: 284px;
  height: 522px;
}

.cta__right {
  margin-left: 160px;
  width: 586px;
}

.cta__title {
  color: #fff;
  font-family: Sora;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 120% */
  letter-spacing: -1px;
}

.cta__content {
  margin-top: 18px;
  color: #fff;
  font-family: Sora;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px; /* 166.667% */
}

.app-icon {
  margin-top: 38px;
  height: 40px;
}

.app__chplay {
  margin-right: 28px;
}

/* =======Blog========= */
/* left */
.main__blog {
  margin-top: 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__blog--left {
  max-width: 41%;
}

.blog__left--title {
  color: #10375c;
  font-family: Sora;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 120% */
  letter-spacing: -1px;
}

.blog__left--content {
  margin-top: 28px;
  margin-bottom: 28px;
  color: #10375c;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 155.556% */
  text-decoration-line: underline;
}

/* right */

.main__blog--right {
  /* margin-left: 130px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.blog__post--img {
  width: 270px;
  height: 172px;
  border-radius: 12px 12px 0px 0px;
}

.blog__post--img:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

.blog__post {
  width: 270px;
  height: 375px;
}

.main__blog--right {
  max-width: 59%;
}

.blog__post--title {
  margin-top: 18px;
  width: 224px;
  color: #10375c;
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px; /* 162.5% */
}

.blog__post--subcontent {
  margin-top: 10px;
  width: 226px;
  color: #575f66;
  font-family: Sora;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 171.429% */
}

.blog__post--view {
  cursor: pointer;
  margin-top: 12px;
  color: #10375c;
  font-family: Sora;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Button */
.btn--left {
  justify-content: center;
  align-items: center;
}

.btn__blog {
  display: flex;
  gap: 18px;
}

.control__btn--next {
  rotate: 180deg;
}

/* ========contact=========== */
.main__contact {
  margin-top: 170px;
  width: 1170px;
  height: 452px;
  background: #f6fbff;
}
.contact__box {
}

.contact__box--title {
  color: #10375c;
  text-align: center;
  font-family: Sora;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 120% */
  letter-spacing: -1px;
}

.box__light {
  margin: 18px auto;
  width: 136px;
  height: 2px;
  flex-shrink: 0;
  background: #2e80ce;
}

.contact__box--content {
  margin: 0 auto;
  width: 617px;
  color: #575f66;
  text-align: center;
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px; /* 175% */
  margin-bottom: 38px;
}

.contact__box .center {
  margin-top: 48px;
  margin: 0 auto;
}
/* =======Footer========= */
.footer {
  height: 553px;
  background: #10375c;
}

.footer__row {
  padding-top: 100px;
  display: flex;
  gap: 80px;
}

.footer-logo {
  width: 86px;
  height: 31px;
}

.footer__box1--content {
  width: 336px;
  color: #a9b3bb;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  margin-top: 21px;
}
.footer__box--bold {
  margin-bottom: 20px;
  color: #fff;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
}
.footer__box-dsc {
  /* width: 134px; */
  color: #a9b3bb;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
}

.dsc2 {
  margin-top: 28px;
}
.dsc3 {
  width: 273px;
}

.box__sub--email {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.email__subscribe {
  margin-top: 10px;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.email__box--boder {
  width: 212px;
  height: 46px;
  border-radius: 4px;
  border: 1px solid #406181;
}

.email__box--text {
  margin-top: -25px;
  color: #9ca8b1;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
  margin-top: -36px;
  margin-left: 15px;
}

.btn__button2--back {
  width: 108px;
  height: 46px;
  border-radius: 4px;
  background: #2e80ce;
}

.btn__button2 {
  text-align: center;
}
.hero__btn--left {
}

.sub__button {
  margin-top: 20px;
  color: #fff;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 108px;
  height: 46px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #2e80ce;
}

.sub__button:hover {
  background: #054480;
}

.footer__light {
  margin-top: 28px;
  width: 1170px;
  height: 1px;
  flex-shrink: 0;
  background: #406181;
}

.footer__end {
  margin-top: 28px;
  color: #aab3ba;
  text-align: center;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
}
